body{
	color:#666;
	background-color:#f0f0f0;
	font-family: 'Roboto Condensed', sans-serif;
}

.container{
	width: 800px;
	min-height: 600px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border:solid 1px #ccc;
}
.center{
	text-align: center;
}

.form input {
	width: 80%;
	padding: 6px;

}

.footer{
	font-size: 14px;
	color:#05080a;
}

#resultados{
	min-height: 300px;
}
.art{
	margin-bottom: 10px;
	background-color:#F1F1F1;
	padding: 5px;

}
.titulo{
	font-size: 22px;
	text-transform: uppercase;
}